$column-width: 36ch;
$column-gap: 2ch;
$background-color: lighten(orange, 45%);

.timeline {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(100, $column-width);
    padding: ($column-gap / 2);
    padding-top: 8rem;
    gap: $column-gap;

    .message {
        display: grid;
        grid-template-columns: 3rem;
        grid-template-rows: min-content 1fr;
        column-gap: 0.5rem;
        img.profile-picture {
            border-radius: 10px;
            grid-column: 1;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .sender-name {
            font-weight: bold;
            grid-column: 2;
            grid-row: 1;
        }
        .content {
            grid-column: 2;
            grid-row: 2;
            word-wrap: anywhere;
        }
    }
    .thread-background {
        background-color: darken($background-color, 5%);
    }
}
